<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<section>
	  
	    <div class="my-card mr-3 ml-2">
            <div class="card-body" >
               <div class="container text-center">
      	      <table class="table text-center">
      	     <img src="" style="height:200px;width:200px;" class="my_profile_picture" th:src="@{'/img/banner.jpg'}" alt="profile photo"/>
      	      <h1> <span th:text="${user.name}"></span></h1>
      	      
                    <thead>
                        <tr>
                            <th scope="col">#UserId</th>
                            <th scope="col">SCM User<span th:text="${user.id}"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr>
                       <th scope="row"> Email</th>
                       <td><span th:text="${user.email}"></span>
                       </tr>
                       
                       <tr>
                       <th scope="row"> Role</th>
                       <td><span th:text="${user.role}"></span>
                       </tr>
                       
                       <tr>
                       <th scope="row"> Account Enabled</th>
                       <td><span th:text="${user.enabled}"></span>
                       </tr>
                       
                       
                         <tr>
                       <th scope="row"> About  You</th>
                       <td><span th:text="${user.about}"></span>
                       </tr>
                    </tbody>
                 
                </table>          
                 </div>
              </div>  
          </div>   
          <script>
    $(document).ready(() => {
        $(".item").removeClass("active");
        $("#profile").addClass("active");
    });
</script>
          
     </section>
</body>
</html>