<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
   <section>
	    <div class="my-card mr-3 ml-2">
            <div class="card-body" >
               <div class="container text-center">
	     	    <img src="" style="height:200px;width:200px;" class="my_profile_picture" th:src="@{'/img/phone.png'}" alt="profile photo"/>
	     	   <h1 class="text-center mt-3 text-secondary font-italic">
	     	   Start Adding Your Contacts on Cloud....
	     	  
	     	   </h1> 
	     	<a th:href="@{/user/add_contact}" class="btn btn-primary mt-4 btn-block text-uppercase">Add Contacts</a>
	     	<hr/>
	     	<h3 class="my-3"> Donate Us</h3>
              <input id="payment_feild" type="text" class="form-control my-2" placeholder="Enter Amount Here"/>
	     	
	     	<div class="container text-center mt-3">
	     	  <button onclick="paymentStart()" class="btn btn-success btn-block">Checkout</button>
	     	</div>
	     	
	     	</div>
	     </div>
	   </div>

    
     </section>
</body>
</html>