@charset "ISO-8859-1";
body
{
	background:#e2e2e2!important;
}

.bg-primary{
	background:#009688!important;
}

.banner
{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../img/banner.jpg);
	color:white;
	
}
.banner1
{
	width:100%;
	height:93vh;
	background:url(../img/backgroung.jpg);
	color:white;
	
}

.my-card
{
	padding:20px;
	background:#FFFFFF;
	
}


@import url('https://fonts.googleapis.com/css?family=Numans');

html{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.sidebar{
	width:18%;
	background:white;
	height:100%;
	position:fixed;
	padding-top:45px;
	z-index:999999999999999999999999999
   }
  

.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	color:gray

	}
.sidebar a:hover{
	background:#e2e2e2;
}

.sidebar .divider{
	height:.5px;
	width:100%;
	background:#e2e2e2;
	margin-top:10px;
}
.content{
	margin-left:20%;
}

.sidebar .crossBtn{
	position:absolute;
	top:0;
	right:35px;
	font-size:36px;
	cursor:pointer;
	
}


.my_profile
{
	width:35px;
	height:35px;
	object-fit:cover;
	border-radius:50%;
	border:1px solid-black;
}

.search-container{
	position:relative;
}
.search-result{
	position:absolute;
	background:white;
	width:100%;
	padding:10px;
	border:1px solid gray;
	display:none;
}

	.active{
	background:#009688! important;
	color:white!important;
	}
