<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- Include Bootstrap CSS if not already included -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<section>
	   <div id="login">
	       <div class="container">
	           <div class="row justify-content-center align-items-center">
	               <div class="col-md-6">
      	               <div id="login-box" style="height:240px;" class="col-md-12">
    <div th:if="${session.message}" class="container">
       <div  class="alert alert-danger text-center" role="alert">
           
          <span th:text="${session.message.content}"></span>
       </div>
    
      <th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
    </div>
                  

      	                   <h1 class="text-center m-3">Your Registered Email</h1>

      	                   <form method="post" th:action="@{/send-otp}">
      	                       <div class="form-group">
      	                           <label for="email">Email Address</label>
      	                           <input id="email" name="email" required type="email" placeholder="Enter Email Here" class="form-control" aria-label="Email Address">
      	                       </div>
      	                       <div class="container text-center">
      	                           <button class="btn btn-warning" aria-label="Send OTP">Send OTP</button>
      	                       </div>
      	                   </form>
      	               </div>
	               </div>
	           </div>  
	       </div>   
	   </div>
	</section>
	<!-- Include Bootstrap JS if needed -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
